{% extends 'admin_side/base_admin.html' %}
{% block title %}
    Video
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <article class="content item-editor-page">
        <div class="title-block">
            <h3 class="title"> {% if video %}
                Өзгерту
                {% else %}
                Жаңа
                {% endif %}
                <span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>

        <form action="" method="post" enctype="multipart/form-data">
            <div class="card card-block">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Сақтау</button>
            <a href="{% url 'videos_list' %}" class="btn btn-secondary"><i class="fa fa-minus-circle"></i> Болдырмау</a>
            {% if video %}
                <a href="{% url 'video_delete' video.id %}" class="btn btn-danger"><i class="fa fa-remove"></i> Жою</a>
                {% if video.is_active %}
                    <a href="{% url 'video_change_status' video.id %}" class="btn btn-danger">Деактивировать </a>
                {% else %}
                    <a href="{% url 'video_change_status' video.id %}" class="btn btn-success">Активировать </a>
                {% endif %}
            {% endif %}
        </form>
    </article>

{% endblock %}
